#main{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: rgb(170, 170, 170);
}
#p{
    color: rgb(70, 19, 40);
}
.about{
    background-color: rgb(170, 170, 170);
    padding: 0px;
    border: 2px solid black;
}
.img{
    height: 200px;
    width:  200px; 
    Margin: 20px;
    border: 2px solid black;
    
}
.column{
float: left;
margin-right: 20px;
align-items:center;
margin: 20px;
width: 22%;


}
.card{
    box-shadow: 0px 4px 8px 0 #b3b3b3f5;
    padding: 0 16px 0 16px;
    background-color: rgba(175, 143, 94, 0.925);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin: 20px;
    border: 2px solid black;
}