main{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
p{
    color: rgba(85, 4, 4, 0.925);
}
.about{
    background-color: coral;
    padding: 8px;
}
img{
    height: 150px;
    width:  150px; 
}
.column{
float: left;
margin-right: 10px;
margin: 10px;
width: 22%;
}
.card{
    box-shadow: 0px 4px 8px 0 #b3b3b3f5;
    padding: 0 16px 0 16px;
}